RonConfigTypes
(
    // data
    total_invested: 400000.0,
    return_value: 10.11,
    cdi_value: 100.0,
    // modes
    use_online_selic_return_value: true,
    use_cdi_value: false,
    // time
    years_invested: 1,
    months_invested: 1,
)
